* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: #121214;
  --light: #F2F5F6;
  --blue: #008cff;
}

body {
  font-family: Roboto, sans-serif;
  background: var(--dark);
  color: var(--light);
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 80px;
  margin-top: 128px;
}

.count {
  text-align: center;
}

h1 {
  font-size: 48px;
  margin-bottom: 12px;
}

span {
  opacity: .6;
  font-weight: 300;
}

button {
  font-size: 16px;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.adicionar {
  background: var(--blue);
}

.remover {
  background: transparent;
  color: var(--blue);
  border: 1px solid var(--blue);
}

.disabled {
  cursor: default;
  opacity: .45;
}

.actions {
  display: flex;
  gap: 16px;
}
